.rows:after {
    content: "";
    display: table;
    clear: both;
  }
  .column-1 {
    float: left;
    width: 100%;
    text-align: left;
    background-color: white;
  }
  .column-2 {
    float: left;
    width: 50%;
  }
  .main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
  
  .rows {
      margin: 10px 10px 10px 10px;
      margin-bottom: 0px;
  }
  
  ul.horizontal-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li.horizontal-li {
    float: left;
  }
  
  li.horizontal-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  .banner {
    padding: 1.5% 0px 1.5% 0px;
  }
  .banner-text {
    text-align: center;
  }
  .menu {
    text-align: center;
  }
  
  .predmeti {
    background-color:silver;
  }
  footer {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: silver;
    margin-top: 15px;
    
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
 
  #naslov {
    text-align: left;
    padding: 0 0 0% 0;
  }
.tabelaleft {
    padding-right: 2%;
    box-sizing: border-box;
}
.tabelaright {
    padding-left: 2%;
    box-sizing: border-box;
}
.prva {
    background-color: grey;
}
.druga {
    border: 1px dotted black;
    background-color: white;
}
#tabela1  {
    margin-top: 3%;
    border-spacing: 5px;
    border-collapse: collapse;
    display: inline-table;
    border:  1px dotted black;
}
.casovi {
    background-color: grey;
}
.raspored {
    background-color: white;
}
#tabelaraspored {
    margin-top: 3%;
    border-spacing: 5px;
    border-collapse: collapse;
    display: inline-table;
    border:  1px dotted black;
}
.Tutorijal {
    background-color: skyblue;
    color: darkblue;
}
.Vjezbe {
    background-color: lightgreen;
    color: darkgreen;
}
.Predavanja {
    background-color: lightgoldenrodyellow;
    color:darkorange;
}
.Kombinacija {
    background-color:silver;
    color: black;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin-left: 100px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
