.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column-1 {
    float: left;
    width: 100%;
    text-align: left;
    background-color: white;
  }
  .column-2 {
    float: left;
    width: 50%;
  }
  .main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
  
  .row-margins-20 {
      margin: 0px 20px 0px 20px;
  }
  
  ul.horizontal-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li.horizontal-li {
    float: left;
  }
  
  li.horizontal-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  .banner {
    padding: 1.5% 0px 1.5% 0px;
  }
  .banner-text {
    text-align: center;
  }
  .menu {
    text-align: center;
  }
  
  .predmeti {
    background-color:silver;
  }
  footer {
    display: flex;
    justify-content: center;
    background-color: silver;
    margin-top: 15px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .yellow {
    padding: 5% 0 0 0;
  }
  #naslov {
    text-align: left;
    padding: 0 0 0% 0;
  }
  #prvi {
    list-style-image: url("resize.png");
    height: 20%;
  }
  #drugi {
    list-style-image: url("komp.png");
  }
  ul {
    list-style-type: circle;
  }
  .slika>img{
 
  width: 600px;
  margin-left: 40px;
  margin-right: 30px;
  }
  body {
     
      width: 99vw;
      height: 97vh;
      display: grid;
      grid-template-rows: 25% 60% 10%;
  }
  main {
      background-color:white;
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 2%;
      border-radius: 4px;
  }
  form {
      margin-top: 5%;
      text-align: center;

  }
  .myButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-left: 40px;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
  }