.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column-1 {
    float: left;
    width: 100%;
    text-align: left;
    background-color: white;
  }
  .column-2 {
    float: left;
    width: 50%;
  }
  .main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
  
  .row-margins-20 {
      margin: 0px 20px 0px 20px;
  }
  
  ul.horizontal-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li.horizontal-li {
    float: left;
  }
  
  li.horizontal-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  .banner {
    padding: 1.5% 0px 1.5% 0px;
  }
  .banner-text {
    text-align: center;
  }
  .menu {
    text-align: center;
  }
  
  .predmeti {
    background-color:silver;
  }
  footer {
    display: flex;
    justify-content: center;
    background-color: silver;
    margin-top: 15px;
    
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
.okvir {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.profa {
    padding-top: 5%;
    border: 1px solid black;
    background-color: silver;
    width: 200px;
    height: 277px;
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .Ime {
    border-top: 1px solid black;
  }
  .Titula {
    border-top: 1px solid black;
  }
  .Kabinet {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  h2 {
      text-align: center;
  }
  .okviras {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.asistent {

    padding-top: 5%;
    border: 1px solid black;
    width: 200px;
    height: 257px;
    margin: auto;
    text-align: center;
    background-color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #naslov {
    text-align: left;
    padding: 0 0 0% 0;
  }

  .upper {
    min-width: 100%;
    min-height: 100%;
  }